$top-color: #fd12cc;
$top-font: 'lato', sans-serif;
%name-item{
    font-size: 22px;
    padding: 20px;
    background-color: $top-color;
}

.item-1 {
    color: #fff;
    @extend %name-item;
}

.item-2 {
    color: #ccc;
    @extend %name-item;
}

.item-3 {
    color: #000;
    @extend %name-item;
}

.tools {
    &-description{
        text-align: left;
    }
    &.item{
        float: left;
    }
}

.description {
    color: $top-color;
    &:hover {
        color: #000;
        font-family: $top-font;
    }
}